body {
  font-style: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}

:focus {
outline: 2px dotted #ff7500;
outline-offset: 3px;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-top: 5px solid #ff7500;
  padding: 16px 0 16px 0;
}

.logo-link {
  transition: opacity 0.4s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

/* Sitenav  */

.sitenav-header-actions {
  display: flex;
  align-items: center;
}

.sitenav-lists {
  list-style: none;
  padding: 0;
  display: flex;
}

.sitenav-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease;
  opacity: 0.4s ease;
}

.sitenav-link:hover {
  color: #FF7500;
}

.sitenav-link:active {
  opacity: 0.6;
}

.main-link {
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  background-color: #ff7500;
  color: #fff;
  transition: opacity 0.4s ease;
  padding: 12px 24px;
  border-radius: 4px;
}
.main-link:hover {
  opacity: 0.8;
}

.hero {
  background-color: #252420;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  width: 390px;
  padding: 80px 0 80px 0;
}

.orange-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500; border: none;
}

.hero-heading {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}

.hero-text {
  font-weight: 400;
}

.hero-img {
  width: 510px;
  height: 510px;
  border-radius: 8px;
}

/* FEATURES */

.features {
  padding: 210px 0 210px 0;
}

.features-heading {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
}

.list-style-feature {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.feature {
  width: 340px;
}

.feature-icon-wrapper {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 117, 0, 0.2);
  border-radius: 50%;
}

.feature-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}

.feature-info {
  font-weight: 400;
}
/* PROMO AKSIYA  */
.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background-color: #252420;
  color: #fff;
}

.aksiya {
  width: 440px;
}

.sale-heading {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}

.sale-info {
  font-weight: 400;
}

.promo-highlight {
  color:#ff7500
}

.promo-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
  border-radius: 12px;
}

.site-footer {
  background-color: #f8f8f8;
  padding: 56px 0 56px 0;
}

.site-footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-style-footer a {
  color: #252420;
 transition: color 0.4 ease;
 opacity: 0.4 ease;
}

.list-style-footer a:hover {
  color:#FF7500;
}

.list-style-footer a:active {
  opacity: 0.6;
}

.list-style-footer {
  display: flex;
  padding: 0;
}

.site-footer ul {
  list-style: none;
}

.footer-line {
  height: 2px;
  border:0;
  background-color: rgba(37, 36, 32, 0.5);
}

.site-footer ul a {
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
  color: #252420;
}

.site-footer-links {
  width: 224px;
  padding: 0;
}

.site-footer-links-parent {
  display: flex;
  justify-content: space-between;
}

.site-footer-links li a {
  transition: color 0.4s ease;
}

.site-footer-links li a:hover {
  color:#FF7500
}

.site-footer-links li a:active {
  opacity: 0.6
}